<h3>Show</h3>
	
<h1>Comentario:</h1>
<h4> Nombre: <%= @comment.name %> </h4>
<h4> Email: <%= @comment.email%>  </h4>
<h4> Descripcion:<%= @comment.description %> </h4>



<h3> <%= link_to "Index", comments_path%>  </h3>